.table {
	/*-fx-border-style: none;
	-fx-border-width: 0px;
	-fx-spacing: 1px;
	-fx-padding: 1px;*/
}

.scrollable {
	-fx-background-color: #ddffdd;
	-fx-control-inner-background: transparent;
	-fx-fit-to-height: true;
	-fx-fit-to-width: true;	
}


.firstrow {
	-fx-spacing: 1px;
	-fx-padding: 1px;
}


.tablePadding{
	-fx-padding: 1px;
}

.blackBorder{
	-fx-border-width: 1px;
	-fx-border-color : black;
}

.ComboBox .list-cell{
  -fx-text-fill: #a0522d; 
}

.row {

	-fx-spacing: 1px;
	-fx-padding: 1px;
}

.firstrowcell {
	-fx-background-color: #eeeebb;
}

.firstrowfirstcell {
	-fx-background-color: #ffeebb;
}

.firstrowlastcell {
	-fx-background-color: #ffeebb;
}

.secondCell {
	-fx-background-color: #ffeebb;
}

.firstcell {
	-fx-background-color: #ddccdd;
}
.cell {
	-fx-background-color: #ddffdd;
}


.header {
	-fx-background-color: #ff0000;
}


.columnInstance{
	-fx-background-color: #ff00b2;
}