<h2 >Add new {{type}}</h2>
<div class="row">
	<div class="col-md-6">
		<form novalidate name="AddNewForm" id="add-new-form" method="post"
			action="">
			<div>
				<label>{{type}}</label> 
				<input class="form-control" type="text" ng-model="instance.value" required />
			</div>
			<div class="form-group" ng-repeat="name in names">
				<label>{{name.columnName}}</label> 
				<input class="form-control"	type="text" ng-model="instance[name.columnName]" required />
			</div>
			<button class="btn btn-primary"
				ng-disabled="AddNewForm.$invalid || isUnchanged(instance)"
				id="add-new-btn" ng-click="add_new(instance)">Save!</button>
			<a href="#/list" class="btn">Cancel</a>
		</form>
	</div>
</div>