html, body,input,section,header,footer {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #eaeaea;
	color: #4d4d4d;
	width: 100%;
	margin: 0 auto;
	font-smoothing: antialiased;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	
}

section .adding {
	animation: appeareffect 2s;
}


.opaque{
	font-style : italic;
	font-weight : bold;
	font-size : 108%;
	background-color : white;
	-webkit-backface-visibility: hidden;
	-webkit-filter: opacity(89%);
  	-moz-filter: opacity(89%);
  	-o-filter: opacity(89%);
  	-ms-filter: opacity(89%);
  	filter: opacity(89%);
}

/* section .removing {
	animation: disappeareffect 2s forwards;
}
 */

.invalid {
	background : white;
	animation: invalideffect 0.5s 5 forwards;
}

@keyframes appeareffect { 
	0% {
		box-shadow: inset 0 0 15px rgba(0, 100, 0, 1);
	}

	100%
	{
		box-shadow:none;
	}
}
/* @keyframes disappeareffect { 
	0% {
		box-shadow: 0 0 15px rgba(255, 0, 0, 1);
	}

	100% {
		box-shadow:none;
	}
} */

@keyframes invalideffect { 
	0% {
		box-shadow: none;
	}
	100%
	{
		box-shadow: inset 0 0 15px rgba(255,0,0,1);
	}
}