@CHARSET "UTF-8";

body{
	background-color : #62b14d;
}

a.autocomplete{
	display:block;
	text-decoration:none;
	padding-left:10px;
	padding-right:10px;
	color:black;
}

ul.autocomplete {
	background-color : #fff;
	display:inline-block;
	list-style-type:none;
	position:absolute;
	z-index:200;
	padding-left:0;
}

li.autocomplete {
	line-height : 1.3em;
}

li.autocomplete:hover{
	background-color : #eee;
}