html, body {
	margin: 0;
	padding: 0;
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #eaeaea;
	color: #4d4d4d;
	width: 1200px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	
}

section .adding ,header .adding ,footer .adding {
	animation: appeareffect 2s;
}

section .removing,header .removing,footer .removing {
    animation: disappeareffect 0.5s;
}

@keyframes appeareffect {
 	0% {
 		box-shadow: 0 0 15px rgba(0, 100, 0, 1);
 	}
  	100% {
 		box-shadow: none;
 	}
}

@keyframes disappeareffect {
 	0% {
 		box-shadow: 0 0 15px rgba(255, 0, 0, 1);
 	}
  	100% {
 		box-shadow: none;
 	}
}

