@CHARSET "UTF-8";

input,
.input-like {
	padding: 0.5em;
	margin: 0.5em 0.1em;
	min-width: 30em; 		/* To be adjusted more properly */
	flex: 3 1 auto;
}

:not(label[name="title"]) {
	padding: 0.5em;
	margin: 0.5em 0.1em;
	flex: 1 1 auto;
}

a[name="zone"],
div[name="zone"],
label[name="zone"] {
	padding: 0.5em;
	margin: 0.5em 0.1em;
	flex: 1 1 auto;
	font-weight: bold;
}

img {
	height: auto;
	width: 400px;
}

button {
	width: 150px;
	margin: 10px;
}

.glowing-border {
    border: 1px solid #dadada;
    border-radius: 7px;
}

.glowing-border:focus { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.filter-results {
	margin: auto;
}

.document-div {
	margin-left: 20px;
}

.widthResponsive {
/*     max-width: 60%; */
    width: auto;
}

.ocr-row {
	width: 90%;
	margin: auto;
}

.ocr {
 	margin: 0.2em 0.5em;
}

.ocr-text {
	font-style: italic;
	font-weight: normal;
	flex: 1;
}

.ocr-label {
	font-weight: bold;
	flex: 1;
}